@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to the TravelAPI Park!</h1>
  <p>Get to know a few of <a href="/destinations">our destinations</a> from the TravelAPI period!</p>
</div>